.task-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 100%;
}

.navbar {
  /* align-items: center; */
}
.task-container-break {
  padding: 20px;
}
.create-tab-button {
  padding: 20px;
  display: grid;
}
.modal-actions {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.modal-content {
  padding: 30px;
  text-transform: capitalize;
}

.main-container-createtask{
  text-align: center;
  padding: 50px;
}